* {
    box-sizing: border-box;
}
#nameLogo{
    background-color: #4aaaa5;
    font-size: 24px;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 25%;
    padding: 8px;
    text-align: center;
    color: #ffffff;
}

.menuItems{
    float: right;
}

.menuItems:hover{
    background-color: #b7b8b6;
    color: #b5f6f3;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: auto;
}

ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    width: 960px;
}

li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 12.5px 14px;
    text-decoration: none;
    width: 10%;
}

h1, h2, h3, h4, h5, h6 {
    color: #4aaaa5;
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
    font-size: 24px;
    margin: 0 0 15px 0;
    font-weight: 500;
    padding: 14px 14px 14px 0;
}

p{
    text-align: left;
    font-size: 18px;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    color: #777777;
    background-image: url('../images/textured_paper.png');
    margin: 0;
}

#wrapper{
    clear: both;
    width: 960px;
    margin: auto;
    margin-top: 60px;
    padding: 0 25px 15px 25px;
    border: 2px solid #dddddd;
    border-top: 0px;
    background-color: #ffffff;
    margin-bottom: 55px;
}

img{
    float: left;
    padding: 15px 15px 15px 0;
}

footer{
    clear:both;
    width:100%;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    border-top: 4px solid #4aaaa5;
    position: fixed;
    bottom: 0;
}

hr {
    margin-top: 0px;
    border-width: 0 0 2px 0;
    border-color: #666666;
    width: 100%;
    overflow: auto;   
}

.seperator {
    float:right;
    height: 24px;
    width: 1px;
    background-color: #777777;
    padding: 0px;
    margin-top: 10px;
    border-width: 0px

}

.clearfix {
    width: 960px;
    clear:both;
}

header {
    position:fixed;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 45px;
    width:100%;
    margin:0 auto;
    border-bottom: 2px solid #cccccc;
}

#contactDiv{
    clear: both;
    width: 960px;
    margin: 60px auto 60px auto;
    border: 2px solid #dddddd;
    border-top: 0px;
    padding: 0 25px 15px 25px;
    background-color: #ffffff;
}

button{
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    width: 100px;
    border: none;
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#portfolioDiv{
    clear: both;
    width: 960px;
    margin: auto;
    margin-top: 60px;
    border: 2px solid #dddddd;
    border-top: 0px;
    padding: 0 25px 15px 25px;
    background-color: #ffffff;
    margin-bottom: 55px;
}

#portfolioDiv div div{
    clear: both;
    position: relative;
}

.labelPic{
    clear: both;
    position: fixed;
    background-color: #4aaaa5;
    font-size: 18px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 308px;
    margin: 0;
    color: #ffffff;
    padding: 10px 25px 10px 25px;
}

textarea:placeholder-shown{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.7;
    background-color: #d8eeed;
}