#nameLogo{
    background-color: #4aaaa5;
    font-size: 24px;
    float: left;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 200px;
    padding: 10px;
    border-color: #cccccc;
    border-width: 2px;
    text-align: center;
}

.menuItems{
    float: right;
}

.menuItems:hover{
    background-color: #b7b8b6;
    color: #b5f6f3;
    font-family: monospace;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 11px 14px;
    text-decoration: none;
    width: 8%;
}

h1, h2, h3, h4, h5, h6 {
    color: #4aaaa5;
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: lighter;
}

h2{
    font-size: 24px;
}

p{
    text-align: left;
    font-size: 18px;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    color: #777777;
    margin: 5px;
    background-image: url('../images/textured_paper.png');
}

div{
    border: 2px solid #dddddd;
    padding: 15px;
    margin: 15px;
    float: center;
    background-color: #ffffff;
}

img{
    float: left;
    padding: 15px;
}

footer{
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    padding: 15px;
}

hr {
    margin-top: 0px;
    border-width: 1px;
    color: #666666;
    width: 100%;
    overflow: auto;   
}

.seperator {
    float:right;
    height: 35px;
    width: 1px;
    background-color: #777777;
    padding: 0px;
    margin: 0px;
    border-width: 0px; 
}

.clearfix {
    clear:both;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
}